extends ../layout

block content
  .container.avg
    .row.row-hiw
      .col-lg-6.col-sm-12.col-hiw
        h1.hiw-title 
          span How it works
          img(src='/images/pagerank.png', width='100%')
        p You estimate how much your friends will earn when they graduate.
        p They estimate for you.
        p Unit for prediction is Lakh INR/year everywhere.
        p Start with estimating yourself when you graduate.
        form#prediction(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input.form-control.predict-yourself-input(type='number', step='0.01', placeholder="Lakh INR/year",name='babaSalary', id='salary', autofocus, required)
          .row.predict-yourself-row
            .predict-yourself
              button.btn.btn-primary.btn-reset.black-theme-bg(type='submit') Predict
    script.
      $("#prediction").submit(function() {
          if($("#salary").val()>50){
              alert("Don't overestimate yourself.");
              return false;
          }
          if($("#salary").val()<2){
              alert("Don't underestimate yourself.");
              return false;
          }
          return true;
      });