.form-group
          label.col-sm-3.control-label(for='known') Known For
          .col-sm-7
            input.form-control(type='text', name='known', id='known', placeholder='Ex: Convener, Dramatics Club', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='hobbies') Hobbies
          .col-sm-7
            input.form-control(type='text', name='hobbies', id='hobbies', placeholder='Ex: Thinking', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='skills') Skills
          .col-sm-7
            input.form-control(type='text', name='skills', id='skills', placeholder='Ex: Coding', autofocus, required)