extends ../layout

block content
    .container.login
      form.form-horizontal.login-form(method='POST')

        input(type='hidden', name='_csrf', value=_csrf)
        .row
            .col-xs-12.col-lg-4.col-login
              .row.login-username
                input.form-control(type='username', name='username', id='username', placeholder='LDAP',autofocus, required)
              .row
                input.form-control(type='password', name='password', id='password', placeholder='Password for IIT-baba', required)
              .row.button-login
                button.col-xs-6.btn.btn-primary.black-theme-bg(type='submit')
                  i.fa.fa-user
                  |  Login
                a.btn.btn-link.col-xs-6.black-theme(href='/forgot') Forgot password?