extends ../layout

block content
  script(src='/js/lib/jquery.cropit.js')
  .container.picture
    .col-sm-8.col-sm-offset-2
      p Add a profile picture. You can move to recentre.
      style.
        .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 300px;
        height: 270px;
        }
        .cropit-preview-image-container {
        cursor: move;
        }
        .image-size-label {
        margin-top: 10px;
        }
        input {
        display: block;
        }
        button[type="submit"] {
        margin-top: 10px;
        width: 80px;
        color:rgba(255,255,255,0.9);
        border-color:rgba(0,0,0,0.8);
        }
        #result {
        margin-top: 10px;
        width: 900px;
        }
        #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
        }

      form(method='POST')
        .image-editor
          input.cropit-image-input(type='file')
          .cropit-preview
          .image-size-label
            | Resize image
          input.cropit-image-zoom-input(type='range')
          input.hidden-image-data(type='hidden', name='image_data')
          button.black-theme-bg(type='submit') Submit
      script.
        $(function() {
        $('.image-editor').cropit();
        $('form').submit(function() {
        // Move cropped image data to hidden input
        var imageData = $('.image-editor').cropit('export');
        $('.hidden-image-data').val(imageData);
        return true;
        });
        });