extends ../layout

block content
    .container.result
      .row
        .col-lg-5.predictions
          .table-responsive
              table.table-hover.outgoing
                  caption.outgoing-caption 
                    strong Predictied by you
                  thead
                    tr
                      th Name
                      th(style="text-align:right") Predictied
                  tbody
                    - for (var r = 0; r < op.length; r++)
                      tr
                        td=op[r].name
                        td(align='right')='₹ '+op[r].prediction+' Lakh/yr'
              
        .col-lg-1
        .col-lg-5.predictions
          .table-responsive
            table.table-hover.incoming
              caption.incoming-caption 
                strong Predictied for you
              thead
                tr
                  th Name
                  th(style="text-align:right") Prediction
              tbody
                - for (var r = 0; r < ip.length; r++)
                  tr
                    td=ip[r].name
                    td(align='right')='₹ '+ip[r].prediction+' Lakh/yr'