.navbar.navbar-default.navbar-fixed-top.black-translucent-background
  .container.header
    .navbar-header
      .navbar-header-left
        a.navbar-brand(href='/')
          strong.baba-logo
            | IIT-baba
        if user
          form.navbar-form.search(role='search', method='get', action='/search', title="Search anything: h8, meta, girls, amay")
            input.search-box#srch-term.form-control(placeholder='Type here H8, HIT ENTER', name='box', type='text')
      .navbar-header-right
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right#navbar
        if !user
          li.about
            a(href='/about') About
          li.register
            a(href='/auth/iitbsso') Register
          li.login
            a(href='/login') Login
        else
          li.about
            a(href='/suggestion') People I may know
          li.about
            a(href='/profile/'+user.ldap) My Profile
          li.about
            a(href='/account/edit') Edit Profile
          li.about
            a(href='/circle') My Circle
          //
            li.about
              a(href='/prediction') Predictions
          li.about
            a(href='/invite') Free Tee
          li.about
            a(href='/about') What else?
          li.notifications
            a.dropdown-toggle.electric-blue-text-color#notification-icon(href='#notifications', data-toggle='dropdown', onclick='$.post("/notification",{action:"see"});$("#notification-label").text("");')
              span.number-label#notification-label
              i.nav-icon.fa.fa-globe
              span.nav-icon-text Notifications
            .dropdown-menu.notification-dropdown#notification-dropdown
              .more-notifications
                a.dropdown-item#allow-push(href='#') MORE NOTIFICATIONS
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle.electric-blue-text-color.settings-dropdown(href='#', data-toggle='dropdown')
              if user
                img.navbar-profile-img(src='/images/profile/'+user.ldap+'.png', onerror='this.src="/images/profile/null.png";')
              else
                img.navbar-profile-img(src='/images/baba.jpg')
              i.caret
            ul.dropdown-menu.settings
              li
                a(href='/profile/'+user.ldap) Account
              li.divider
              li
                a(href='/account/edit') Edit Profile
              li.divider
              li
                a(href='/circle') Circle
              li.divider
              li
                a(href='/prediction') Previous Predictions
              li.divider
              li
                a(href='/invite') Get a free T-shirt
              li.divider
              li
                a(href='/logout') Logout