#main-navbar.navbar.navbar-inverse(role='navigation')
  // Main menu toggle
  button#main-menu-toggle(type='button')
    i.navbar-icon.fa.fa-bars.icon
    span.hide-menu-text HIDE MENU
  .navbar-inner
    // Main navbar header
    .navbar-header
      // Logo
      a.navbar-brand(href='index.html')
        div
          img(alt='Pixel Admin', src='assets/images/pixel-admin/main-navbar-logo.png')
        | 					PixelAdmin
      // Main navbar toggle
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navbar-collapse')
        i.navbar-icon.fa.fa-bars
    // / .navbar-header
    #main-navbar-collapse.navbar-collapse.main-navbar-collapse.collapse.in(style='height: auto;')
      div
        ul.nav.navbar-nav
          li
            a(href='#') Home
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
            ul.dropdown-menu
              li
                a(href='#') First item
              li
                a(href='#') Second item
              li.divider
              li
                a(href='#') Third item
        // / .navbar-nav
        .right.clearfix
          ul.nav.navbar-nav.pull-right.right-navbar-nav
            //
              3. $NAVBAR_ICON_BUTTONS =======================================================================
              Navbar Icon Buttons
              NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.
              Classes:
              * 'nav-icon-btn-info'
              * 'nav-icon-btn-success'
              * 'nav-icon-btn-warning'
              * 'nav-icon-btn-danger'
            li.nav-icon-btn.nav-icon-btn-danger.dropdown
              a.dropdown-toggle(href='#notifications', data-toggle='dropdown')
                span.label 5
                i.nav-icon.fa.fa-bullhorn
                span.small-screen-text Notifications
              // NOTIFICATIONS
              .dropdown-menu.widget-notifications.no-padding(style='width: 300px')
                .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 250px;')
                  #main-navbar-notifications.notifications-list(style='overflow: hidden; width: auto; height: 250px;')
                    .notification
                      .notification-title.text-danger SYSTEM
                      .notification-description
                        strong Error 500
                        | : Syntax error in index.php at line 
                        strong 461
                        | .
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-hdd-o.bg-danger
                    // / .notification
                  .slimScrollBar(style='background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;')
                  .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;')
                // / .notifications-list
                a.notifications-link(href='#') MORE NOTIFICATIONS
              // / .dropdown-menu
            li.nav-icon-btn.nav-icon-btn-success.dropdown
              a.dropdown-toggle(href='#messages', data-toggle='dropdown')
                span.label 10
                i.nav-icon.fa.fa-envelope
                span.small-screen-text Income messages
              
              // MESSAGES
              .dropdown-menu.widget-messages-alt.no-padding(style='width: 300px;')
                .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 250px;')
                  #main-navbar-messages.messages-list(style='overflow: hidden; width: auto; height: 250px;')
                    .message
                      img.message-avatar(src='assets/demo/avatars/2.jpg', alt='')
                      a.message-subject(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .message-description
                        | from 
                        a(href='#') Robert Jang
                        | 												  ·
                        | 												2h ago
                    // / .message
                  .slimScrollBar(style='background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 109.842px;')
                  .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;')
                // / .messages-list
                a.messages-link(href='#') MORE MESSAGES
              // / .dropdown-menu
            // /3. $END_NAVBAR_ICON_BUTTONS
            li
              form.navbar-form.pull-left
                input.form-control(type='text', placeholder='Search')
            li.dropdown
              a.dropdown-toggle.user-menu(href='#', data-toggle='dropdown')
                img(src='assets/demo/avatars/1.jpg', alt='')
                span John Doe
              ul.dropdown-menu
                li
                  a(href='#')
                    span.label.label-warning.pull-right New
                    | Profile
                li
                  a(href='#')
                    span.badge.badge-primary.pull-right New
                    | Account
                li
                  a(href='#')
                    i.dropdown-icon.fa.fa-cog
                    |   Settings
                li.divider
                li
                  a(href='pages-signin.html')
                    i.dropdown-icon.fa.fa-power-off
                    |   Log Out
          // / .navbar-nav
        // / .right
    // / #main-navbar-collapse
  // / .navbar-inner
