# Node build artifacts
node_modules
npm-debug.log
access.log
errors.log
info.log

# Local development
*.env
*.dev
.DS_Store

#Uploads
# First, ignore everything
#public/images/profile/*

#Uploads
# First, ignore everything
public/images/company/logo/*

# Whitelist default flag image
!public/images/company/logo/default.png