extends layout

block content
    .container.about
      .row
        .col-lg-5.about-col
            h1 Connect with friends.
            h3 Search for them in the bar.
            p Name, Hostel, Department, Sex
            p Hobbies, Skills, Year of Joining
            P Anything
        .col-lg-5.about-col
            h1 Know your worth.
            h3 Predict for friends.
            p Get to know what people think about you
            p Let them know what you thing about them
            p Give good predictions to see good results
        .col-lg-5.about-col
            h1 Circles.
            h3 Grow your circles.
            p See your circle by clicking Cirle on the at upper left corner.
            p See others circle by clicking on them.
            p Hover on the circles to see their relationships.
        .col-lg-5.about-col
            h1 Give Suggestions.
            h3 Feedbacks are highly appreciated.
            p If there is any error or feature that you want added or any feedback,
            p Drop a mail at 
                b bestkanthed@gmail.com
            p Call or Whatsapp at 
                b +91 8828291950