extends layout

block content
    .container.about
      .row
        .col-lg-4.about-col
            h1 Connect with friends.
            h3 Search for them by
            p Name
            P Hobbies
            p Skills
            p Hometown 
            p Year of Joining
            p Department
            p Hostel
            P Anything
            h2 Connect with them.
        .col-lg-4.about-col
            h1 Know your worth.
            h3 Predict for friends
            p Get to know what people think about you
            p Let them know what you thing about them
            p Give good predictions to see good results
            p Algorithm calculates based on PageRank
        .col-lg-3.about-col
            h1 Contributors.
            p Created by Abhishek Kanthed
            p Algorithm by Siddharth Joshi
            p Database Structure by Amay Jain
            p Design by Ajinkya Meshram