extends layout

block content
  .container.home
    style.
      .links line {
      stroke: #999;
      stroke-opacity: 0.4;
      }
      .nodes circle {
      stroke: #fff;
      stroke-width: 0;
      stroke-opacity: 0;
      }
      circle:hover  {
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-opacity: 1;
      }
    svg
    script(src='https://d3js.org/d3.v4.min.js')
    script.
      $("#main-container").css('padding-left','0');
      $("#main-container").css('padding-right','0');
      $("#main-container").css('margin','0');
      $(window).on('orientationchange', function(e) {
          $.mobile.changePage(window.location.href, {
              allowSamePageTransition: true,
              transition: 'none',
              reloadPage: true
          });
      });
      window.onorientationchange = function() { 
          var orientation = window.orientation; 
              switch(orientation) { 
                  case 0:
                  case 90:
                  case -90: window.location.reload(); 
                  break; } 
      };
      console.log("logging width of window", $(window).width());
      console.log("logging height of window", $(window).height());
      $("svg").css('margin','0');
      $("svg").css('position','absolute');
      $("svg").css('left','0');
      $("svg").css('top','0'); 
      $("svg").attr({
        "width": $(window).width(),
        "height": $(window).height()
      });
      
      var graph = !{JSON.stringify(graph).replace(/<\//g, '<\\/')};
      console.log(graph);
      var svg = d3.select("svg"),
      width = +svg.attr("width"),
      height = +svg.attr("height");
      let radiusConst = width/480;
      let linkConst = width/480;
      var color = d3.scaleOrdinal(d3.schemeCategory20);
      var simulation = d3.forceSimulation()
      .force("collide", d3.forceCollide().radius(function(d) { return d.sal*2; }))
      .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(function(d) {return linkConst*120;}).strength(0.3))
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(width / 2, height / 2));
      //.force("linkDistance", 200);
      //d3.json("miserables.json", function(error, graph) {
        //if (error) throw error;
       let defs = svg.append("defs")
                      .attr("id", "imgdefs")
                      .selectAll("pattern")
                      .data(graph.nodes)
                      .enter()
                      .append("pattern")
                      .attr("id", function(n){return n.ldap?n.ldap:"null";})
                      .attr("height", 1)
                      .attr("width", 1)
                      .attr("x", "0")
                      .attr("y", "0")
                      .append("image")
                      .attr("x", function(d){return d.sal*-0.22;})
                      .attr("y", 0)
                      .attr("height",function(d) { return d.sal*4; })
                      .attr("width", function(d) { return d.sal*4.5; })
                      .attr("xlink:href", function(n){return "/images/profile/"+n.ldap+".png";} )


        var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
        .attr("stroke-width", function(d) { return Math.sqrt(d.value)/3; });
        
        var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(graph.nodes)
        .enter()
        .append('a').attr("xlink:href", function(d) { return "profile/"+ d.ldap; })
        .append("circle")
        .attr("r", function(d) { return d.sal*2; })
        .attr("fill", function(d) { return "url(#"+d.ldap+")"; })
        //.attr("fill", function(d) {catpattern.append("image").attr("xlink:href", "/images/profile/"+d.ldap); return "url(#catpattern)";})
        //.attr("fill", function(d) { return color(d.group); })
        .call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));
        
        node.append("title")
        .text(function(d) { return d.name; });
        
        simulation
        .nodes(graph.nodes)
        .on("tick", ticked);
        
        simulation.force("link")
        .links(graph.links);
        
        function ticked() {
          link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });
          node
          .attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
        }
      //});
      
      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }
    //img.baba(src="/images/iitbabab.png" alt="iitbaba" height="480")