extends indexlayout

block content
  link(rel='stylesheet', type='text/css', href='/css/lib/slick/slick.css')
  link(rel='stylesheet', type='text/css', href='/css/lib/slick/slick-theme.css')
  script(type='text/javascript', src='/js/lib/slick.min.js')
  #cover
  
  .row.landing-row
    .col-lg-12.banner
      h1.banner_label
        span(style="background-color: rgba(255,255,255, 0.4)") Have you joined yet.
    .col-lg-12.banner
      h3.banner_tagline
        span(style="background-color: rgba(255,255,255, 0.4)") Premium and exclusively community for IIT-B students.
    .col-lg-12.get_started
      a(href='/auth/iitbsso').btn.btn-primary.btn-reset.black-theme-bg GET STARTED
  .container
    hr
    .row.workflow-row.flip-in-phone
      .col-md-6.col-sm-12.workflow-column-description
        h2.workflow-heading Search
        h3.workflow-description
          span Do a natural search for people
          br
          br
          ul
            li Name, Hostel, Hometown, Year of Joining, Department, Sex, Hobbies, Interests... Anything!
            br
            li Just type it in the search box.
            br
          span AND CONNECT WITH THEM.
      .col-md-6.col-sm-12.workflow-column-image
        img.workflow-image(src='/images/search.svg')
    hr
    .row.workflow-row
      .col-md-6.col-sm-12.workflow-column-image
        img.workflow-image(src='/images/money.svg')
      .col-md-6.col-sm-12.workflow-column-description
        h2.workflow-heading Predict
        h3.workflow-description 
          span Predict much they'll be worth when they graduate to know what other people think.
          br
          br
          ul
            li Search for people you care about.
            br
            li Predict for them.
            br
            li After predicting their actual worth will be revealed to you.
            br
          span Make good predictions to get good authenticity scores.
    hr
    .row.workflow-row.flip-in-phone
      .col-md-6.col-sm-12.workflow-column-description
        h2.workflow-heading Grow
        h3.workflow-description 
          span Grow you circle.
          br
          br
          ul
            li See the amazing ways in which people are related to you.
            br
            li Understand your relationship better with people.
            br
          span Get the T-shirt for growing your cirle and doing good predictions.
      .col-md-6.col-sm-12.workflow-column-image
        img.workflow-image(src='/images/brain.svg')
    hr
  script.
    function clickLogin(login) {
      $('#cover').css('display', 'inline');
      $('.center-div').css({
        '-webkit-animation-name': 'example', /* Safari 4.0 - 8.0 */
        '-webkit-animation-duration': '0.5s', /* Safari 4.0 - 8.0 */
        'animation-name': 'example',
        'animation-duration': '0.5s'
      });
      $('#form-get-started').css({
        'display':'inline'
      });
      $('#country').focus();
      $('.dropdown-menu.typeahead').css({
        'width': $( window ).width()>480 ? '440px': '120px' ,
        'font-size': $( window ).width()>480 ? '24px': '20px'
      });
    }
    $('.cancel, #cover, #form-get-started > :not(.center-div)').click(e=>{
      $('.center-div').css({
        '-webkit-animation-name': 'go', /* Safari 4.0 - 8.0 */
        '-webkit-animation-duration': '0.5s', /* Safari 4.0 - 8.0 */
        'animation-name': 'go',
        'animation-duration': '0.5s'
      });
      setTimeout(()=>{
        $('#cover').css('display', 'none');        
        $('#form-get-started').css('display','none');
      }, 400);
    });
    $('#cover').click(e=>{
      $('.center-div').css({
        '-webkit-animation-name': 'go', /* Safari 4.0 - 8.0 */
        '-webkit-animation-duration': '0.5s', /* Safari 4.0 - 8.0 */
        'animation-name': 'go',
        'animation-duration': '0.5s'
      });
      setTimeout(()=>{
        $('#cover').css('display', 'none');        
        $('#form-get-started').css('display','none');
      }, 400);
    });
    $(document).ready(function(){
      $('.reviews').slick({
        infinite: true,
        responsive: [{

        breakpoint: 1600,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }

      }, {

        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }

      }, {

        breakpoint: 480,
        slidesToShow: 1,
        slidesToScroll: 1
      }]
      });
    });