extends layout

block content
    .container.edit
      form(method='POST', enctype='multipart/form-data')
        //input(type='hidden', name='_csrf', value=_csrf)
        .row
          .col-lg-12.col-edit
            .row
                h1 Comapany Details
            .row
                label.col-sm-3.control-label(for='name') Company Name 
                .col-sm-9
                    input.form-control(type='text', name='name', id='companyName', placeholder='', autofocus, required)
            .row
                label.col-sm-3.control-label(for='mission') Company Mission
                .col-sm-9
                    input.form-control(type='text', name='mission', id='mission', placeholder='', autofocus, required)
            .row
                label.col-sm-3.control-label(for='logo') Company Logo
                .col-sm-9
                    input.form-control(type='file', name='logo', id='logo', required)
                .col-sm-9
                    img(id='logoPreview', src='#', alt='Company Logo Preview', style='width: 40px; border-radius:4px;')
            .row
                label.col-sm-3.control-label(for='adderess') Adderess (Main)
                .col-sm-9
                    input.form-control(type='text', name='adderess', id='adderess', required)
            .row
                label.col-sm-3.control-label(for='website') Website
                .col-sm-9
                    input.form-control(type='text', name='website', id='website', required)
            .row
                label.col-sm-3.control-label(for='contactPerson') Primary Contact Person
                .col-sm-9
                    input.form-control(type='text', name='contactPerson', id='contactPerson', required)
            .row
                label.col-sm-3.control-label(for='contactNo') Primary Contact No.
                .col-sm-9
                    input.form-control(type='number', name='contactNo', id='contactNo', required)
            .row
                label.col-sm-3.control-label(for='contactEmail') Email for applicaiton notification
                .col-sm-9
                    input.form-control(type='contactEmail', name='contactEmail', id='contactEmail', required)
            .row
                .col-sm-offset-3.col-sm-7
                    button.col-sm-3.btn.btn-primary.black-theme-bg(type='submit')
                        i.fa.fa-user
                        |  Register Company
      script.
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#logoPreview').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $("#logo").change(function(){
            readURL(this);
        });