.black-theme{
    color:rgba(0,0,0,0.85) !important;
    font-family :'Raleway', sans-serif;
}
.black-theme-bg{
    box-shadow: 0 0 8px #888888;
    background-color:rgba(0,0,0,0.85) !important;
    font-family :'Raleway', sans-serif;
    border: none;
}
.black-theme-bg:hover{
    background-color:rgba(0,0,0,0.875) !important;
}

strong.baba-logo{
    color:rgba(255,255,255,0.9);   
    font-size:32px;
    font-family: 'Loved by the King', cursive;
}
strong.baba-logo:hover{
    color:rgba(255,255,255,1);   
}
.container.home{
    padding-top: 60px;
    text-align:center;
}
.navbar.navbar-default.navbar-fixed-top.black-translucent-background{
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.85);
}
ul.dropdown-menu.settings>li>a{
    font-family :'Raleway', sans-serif;    
}
@media screen and (max-width: 480px) {
    ul.dropdown-menu.settings>li>a{
        color:rgba(255,255,255,0.8) !important;    
    }   
}
ul.navbar-nav>li.about>a, ul.navbar-nav>li.register>a, ul.navbar-nav>li.login>a{
    font-weight: 700;
    color:rgba(255,255,255,0.9);
    font-family :'Raleway', sans-serif;
}
ul.navbar-nav>li.about>a:hover, ul.navbar-nav>li.register>a:hover, ul.navbar-nav>li.login>a:hover{
    color:rgba(255,255,255,1);
}

a.electric-blue-text-color{
    color: rgba(255, 255, 255, 1) !important;
}

.active{
    color: rgba(0, 210, 255, 1);
}

input[type=text].search-box {
    box-sizing: border-box;
    border: 2px;
    font-family: 'Raleway', sans-serif;
    border-color: rgba(0, 0, 0, 0.87);
    border-radius: 2px;
    font-size: 8x;
    background-color: white;
    background-image: url('/css/images/searchicon.png');
    background-position: 8px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

@media screen and (min-width: 480px) {
    input[type=text].search-box:focus {
        width: 100%;
    }
    input[type=text].search-box {
    width: 180px;
    }
}
@media screen and (max-width: 480px) {
    input[type=text].search-box:focus {
        width: 140px;
    }
    input[type=text].search-box {
    width: 120px;
    }
}

input[type=username],
input[type=password]{
    font-family :'Raleway', sans-serif;
}
.navbar-header{
    display: flex;
}
.navbar-header-left{
    display: flex;
    margin-right:auto;
}
a.navbar-brand{
    padding-right: 32px;
    padding-top: 18px;
    padding-left: 18px;   
}
.navbar-header-right{
    display: flex;
    margin-left:auto;    
}
.navbar-form.search{
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left:0px;    
}
.number-label{
    background: #5ebd5e;
    font-size: 8px;
    padding: 0 2px;
    line-height: 10px;
    position: absolute;
    display: block;
    right: 10px;
    float: right;
    top: 13px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.nav-icon{
    font-size: 16px;
    display: none;
}
.nav-icon-text{
    font-size: 16px;
    font-family :'Raleway', sans-serif;
}

@media (min-width: 768px) {
    .nav-icon{
        display: inline-block;
    }
    .nav-icon-text{
        display: none;
    }
}

.dropdown-item{
    padding: 4px;
}
.notification-img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 999999px;
    margin: 4px;
    vertical-align: baseline;
}
.notifiaction-content{
    display: inline-block;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
}
@media screen and (min-width: 480px) {
    .dropdown-menu>a:hover, .more-notifications>a:hover, .more-requests>a:hover{
        text-decoration: none; 
        color:rgba(0, 0, 0, 0.9);
    }
    .dropdown-menu>a, .more-notifications>a, .more-requests>a{
        font-family :'Raleway', sans-serif;
        color: black;
        font-size: 14px;
    }    
}
@media screen and (max-width: 480px) {
    .dropdown-menu>a:hover, .more-notifications>a:hover, .more-requests>a:hover{
        text-decoration: none;
        color:rgba(255, 255, 255, 0.775);
    }
    .dropdown-menu>a, .more-notifications>a, .more-requests>a{
        color:white;
        font-family :'Raleway', sans-serif;
    }
}
.notification{
    display: flex;
}
.notifiaction-from{
    font-size: 10px;
}
.notification-time{
    font-size: 10px;
}
.notification-dropdown{
    width:360px;
    max-height: 570px;
    /*overflow: auto;*/
    z-index: 100001;
}
@media screen and (min-width: 600px) {
    .notification-dropdown{
        overflow: auto;
    }   
}

.more-notifications, .more-requests{
    text-align:center;
}
.request-img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 999999px;
    margin: 4px;
    vertical-align: baseline;
}
.request-content{
    display: inline-block;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.request{
    display: flex;
}
.request-from{
    font-size: 16px;
}
.request-from-detail{
    font-size: 12px;
}
.request-action{
    display: flex;
    margin-top: 4px;
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 4px;
}
.request-dropdown{
    width:360px;
    overflow: auto;
    max-height: 582px;
    z-index: 100001;
}

.request-accept {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.975);
  opacity: 0.925;
  text-align: center;
  cursor: pointer;
  width: 80px;
  font-size: 16px;
}
.request-accept:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.request-reject:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.request-reject {
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: black; 
  outline: 0;
  display: inline-block;
  padding: 8px;
  color:black;
  background-color:white;
  opacity: 0.925;
  text-align: center;
  cursor: pointer;
  width: 80px;
  font-size: 16px;
}


.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.navbar-profile-img{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 999999px;
    margin: 4px;
}
a.dropdown-toggle.electric-blue-text-color.settings-dropdown{
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 0px; 
}


/* Profile parameters *//* without media queries for desktop */
.card.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 8px; 
}
.card.profile-info{
    padding-bottom: 8px; 
}

.profile.name{
  padding-top: 16px; 
  font-size: 30px; 
  color:rgba(0, 0, 0, 0.95);  
}

.known.profile {
  color:rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.department.profile, .hostel.profile, .skills.profile, .hobbies.profile, .from.profile, .contact.profile{
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-transform: capitalize;
}
.email.profile{
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.looking.profile {
  font-weight: 600;
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-transform: capitalize;
}

button.profile {
  border: none;
  border-radius: 0 0 8px 8px; 
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.925;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


a.profile {
  text-decoration: none;
  font-size: 22px;
  padding: 4px;
  color:rgba(0,0,0,0.85);
  font-family :'Raleway', sans-serif;

}

button.profile:hover{
  background-color:rgba(0,0,0,0.95);
}

a.profile:hover{
    color:rgba(0,0,0,0.9);
}
.container.profile{
    padding-top: 80px;
}
.container.nullprofile{
    
    padding-top: 70px;
    text-align: center;
}
img.profile{
    border-radius:8px 8px 0 0; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    width:100%;
}
input.salary.profile{
    width: 100%;
    height: 36px;
    font-size: 24px;
    font-family :'Raleway', sans-serif; 
    text-align: center;
    border-radius:8px 8px 0 0;
    border-color: rgba(0, 0, 0, 0.1);
}
input.salary.profile:focus{
    border-color: rgba(0, 0, 0, 0.8);
}
input.submit-salary{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  font-family :'Raleway', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 0 0 8px 8px;
}
input.submit-salary:hover{
  background-color: rgba(0, 0, 0, 0.95);  
}

/* 
Making prediction look easy
*/

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
  font-size: 36px;
  padding-left: 8px;  
}

.input-icon > input {
  padding-left: 0px;
	padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}
/*
Card for relationship
*/

.card.relationship{
  font-family :'Raleway', sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 8px #888888;
  margin: auto;
  text-align: center;
}
p.relationship-tag{
    color:rgba(0, 0, 0, 0.85); 
    font-size: 20px; 
}
p.relationship#rel-display{
    color:rgba(0, 0, 0, 0.9); 
    font-size: 24px;
    font-weight: 900;
}
.relationship-picker{
    padding: 24px;
    text-align: left;
}

.card.title{
    padding: 16px;
}


/********
login details
********/
.card.login {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);   
  margin: auto;
  text-align: center;
  font-family: arial; 
}

.container.login{
    padding-top: 120px;
    margin:auto; 
}

.login-col{
    margin: 0 auto;
    float: none;
}
.card.login-title{
    padding: 10px; 
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(0, 0, 0, 0.85) 
}

input.login{
    width: 100%;
    height: 36px;
    font-size: 16px;
    text-align: center;
}
.page-header.login{
    margin:110px;
    margin-bottom:40px;
}

/*
Edit profile
*/

.row.edit>label{
    font-size: 20px;
}

.submit-edit-info{
  margin-top: 40px; 
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.975);
  opacity: 0.925;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.submit-edit-info:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
/*
set
*/
.container.set{
    padding-top:100px;
}
/* change the color of the focus of the text box */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="username"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

.container.picture{ 
    padding-top: 70px;
}
@media screen and (max-width: 480px) {
    .container.picture{ 
        padding-left: 0px; 
        padding-top: 70px;
    }
}

.container.avg{
    padding-top: 70px;
}
.container.result{
    padding-top: 80px;
}
.container.advanced{
    padding-top: 55px;    
}
p.salary-shown{
    font-size: 24px;
    color:rgba(0, 0, 0, 0.85);
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
p.salary-shown>span.unit{
    font-size: 18px;
    font-weight: 700;
}
span.notifiaction-salary{
    font-size: 16px;
    font-weight: 700;
}
@media screen and (min-width: 480px) {
    #predictCover{
        width : 85%;    
    }
    
    .card.popup {
        width: 40%;
    }    
}
@media screen and (max-width: 480px) {
    #predictCover{
        width : 90%;    
    }
}
#predictCover{
	display: none;
	margin-top: 60px;
    position: fixed;
    background : rgba(0, 0, 0, 0.7);
    z-index : 10;
    border-radius: 8px;
    overflow: hidden; 
}
.card.popup {   
  margin: auto;
  padding:20px;
  opacity : 1;
  text-align: center;
  font-family: arial;
}
.col-login, .col-set{
    float: none;
    margin: 0 auto;
    /*
    border: 2px;
    border-style: solid;
    */
    border-radius: 4px;
    
    box-shadow: 0 0 8px #888888;
}
.col-login> *, .col-set> *{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
}
.set-button-row{
    text-align: center;
}
.set-button{
    margin: 0 auto;
    display: inline-block;
}
.set-first-name{
    padding-top: 16px;
    padding-left: 0px;
}
.set-last-name{
    padding-top: 16px;
    padding-right: 0px;
}
.login-username{
    padding-top: 48px;    
}
.button-login{
    padding-bottom: 48px;        
}
*::-webkit-input-placeholder {
    font-family :'Raleway', sans-serif;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-family :'Raleway', sans-serif;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-family :'Raleway', sans-serif;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-family :'Raleway', sans-serif;
}
.col-hiw{
    font-family :'Raleway', sans-serif;
    float: none;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 8px #888888;
}
h1.hiw-title{
    padding: 20px; 
    font-size: 54px;
    font-weight: 900;
}
.col-hiw>*{
    padding-left: 16px;
    padding-right: 16px;
}
.predict-yourself-row{
    text-align: center;
}
.predict-yourself{
    display: inline-block;
    margin: 0 auto;
    padding: 16px;
}
input[type=number].predict-yourself-input{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
.col-hiw>p{
        font-size: 16px;
    }
@media screen and (min-width: 480px) {
    h1.hiw-title{
        font-size: 54px;
    }    
}
@media screen and (max-width: 480px) {
    h1.hiw-title{
        font-size: 36px;
    }
}

/*sadawd*/
.col-info{
    font-family :'Raleway', sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 8px #888888;
}

h1.info-title{
    padding: 20px; 
    font-size: 36px;
    font-weight: 900;
}
.col-info>*{
    padding-left: 16px;
    padding-right: 16px;
}
.predict-yourself-row{
    text-align: center;
}
.predict-yourself{
    display: inline-block;
    margin: 0 auto;
    padding: 16px;
}
input[type=number].predict-yourself-input{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
.col-hiw>p{
        font-size: 16px;
    }
@media screen and (min-width: 480px) {
    h1.hiw-title{
        font-size: 54px;
    }    
}
@media screen and (max-width: 480px) {
    h1.hiw-title{
        font-size: 36px;
    }
}
@media screen and (min-width: 480px) {
    .row.profile{
        padding: 32px;
    }    
}
@media screen and (max-width: 480px) {
    .row.profile{
        padding: 2px;
    }
}
@media screen and (max-width: 480px) {
    .profile-img, .profile-relationship{
        padding-right: 0px;
        padding-left: 0px;  
    }
    .profile-img{
        padding-bottom: 6px;
    }
    .profile-relationship{
        padding-top: 16px;
    }
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  background-clip: content-box; 
  border: 2px solid transparent;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
table.table-hover.outgoing, table.table-hover.incoming{
    width: 95%;
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 480px) {
    table.table-hover.outgoing, table.table-hover.incoming{
        font-size: 14px;
    }   
}
@media screen and (min-width: 480px) {
    table.table-hover.outgoing, table.table-hover.incoming{
        font-size: 16px;
    }   
}
.predictions{
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px #888888;
}
td,th{
    padding-left: 16px;
}
caption.outgoing-caption, caption.incoming-caption{
    font-size: 30px;
    padding-left: 2px; 
}
.container.edit{
    padding-left:0;
    padding-right:16px;    
    padding-top: 60px;
    color: black;
}
.col-edit> *{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-left: 24px;
}
.col-edit{
    /*
    border: 2px;
    border-style: solid;
    */
    padding-bottom: 16px; 
    margin: 8px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 8px #888888;
}
label{
    margin-top: 7px; 
}
.save-button{
    margin: 16px;
    padding: 16px;
    width: 128px;
    font-size: 16px;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button.btn.dropdown-toggle{
    border: none;
    padding-right: 12px; 
}
button.btn.dropdown-toggle:focus {
    border: none;
    outline: 0 !important;
}
.bs-caret{
    display: none; 
}
.btn-group.bootstrap-select.show-tick{
    width: 100% !important;
}
.filter-option.pull-left{
    text-align: center !important;
}
.container.center{
    padding-left:0px; 
}
.container.about{
    padding-top: 70px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Raleway', sans-serif;
}
.about-col{
    padding: 16px;
    padding-left: 20px; 
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 8px #888888;   
}
#name{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
}
.nsp{
    font-family: 'Raleway', sans-serif;
    color: black;
}
@media screen and (max-width: 480px) {
    img.baba{
        width: 100%;
    }   
}
@media screen and (min-width: 480px) {
    img.baba{
        width: 480px;
    }   
}
